<div *ngIf = "!spinner" class="col">
    <div class="row" style="margin-bottom: 2%;">
    <div class = "col">
        <div class = "dropdown row-w-100 text-center" style="margin-left: 5%; margin-right: 5%;">
            <button type="button" class="btn btn-light text-left" style="width: 100% !important; border-radius: 24px; padding-left: 3%;" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search" style="padding-right: 2%;"></i>
                Search
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" autofocus id = "searchBox" #searchBox>
                </div>
                <div *ngIf = "searchText != ''">

                    <div *ngFor = "let country of casesByCountries | searchPipe: searchText; let i = index">
                        
                        <a class="dropdown-item" (click) = "clickAndOpen(country)" *ngIf = "i <=10">
                            {{country.countryName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row h-100" style="margin-left: 5%; margin-right: 5%;">
        <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="row-w-100">
                    <div class="alert alert-secondary" [routerLink] = "['/countries']">
                        <div class="row-w-100 noOfCases">
                            {{worldLatest?.confirmed}}
                        </div>
                        <div class="row-w-100 nameOfCases">
                            Confirmed cases worldwide
                        </div>
                    </div>
                </div>
                <div class="row-w-100">
                    <div class="alert alert-danger" [routerLink] = "['/countries']">
                        <div class="row-w-100 noOfCases">
                            {{worldLatest?.deaths}}
                        </div>
                        <div class="row-w-100 nameOfCases">
                            Number of deaths worldwide
                        </div>
                    </div>
                </div>
                <div class="row-w-100">
                    <div class="alert alert-success" [routerLink] = "['/countries']">
                        <div class="row-w-100 noOfCases">
                            {{worldLatest?.recovered}}
                        </div>
                        <div class="row-w-100 nameOfCases">
                            Number of recovers worldwide
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xl-8 hidden-sm">
            <app-map [casesByCountries] = "casesByCountries" [casesByCountries] = "casesByCountries" ></app-map>
        </div>
    </div>

    <div *ngIf = "openChild">
        <app-country-modal [country] = "country" [world] = "worldLatest" (closeValue) = "onModalClose($event)"></app-country-modal>
    </div>

    <hr>

    <div class="row" style="text-align: center; margin-left: 5%; margin-right: 5%; margin-bottom: 5%;">
        <div class="col">
            <!-- <h6 class="header">Mortality and recovery rates</h6> -->
            <app-chart
                    [type] = "lineChartType"
                    [data] = "lineChartData"
                    [columnNames] = "lineChartColumnNames"
                    [options] = "lineChartOptions">
            </app-chart>
        </div>
    </div>


    <div class="row" style="text-align: center; margin-left: 5%; margin-right: 5%;">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <h6 class="header">Mortality and recovery rates</h6>
            <div class="row-w-100">
                <app-chart
                    [type] = "pieChartType"
                    [data] = "pieChartInProgress" 
                    [columnNames] = "columnNamesPieChart"
                    [options] = "optionPieChart"
                >
                </app-chart>
            </div>
            <div class="row-w-100 table-responsive" style="margin-top: 5%;">
                <table class="table" style="text-align: left;">
                    <tbody>
                        <tr>
                            <td>
                                Recovered
                            </td>
                            <td style="text-align: right;">
                                {{worldLatest?.pOfRecovers | number:'1.0-2' :'sl-SL'}}%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Deaths
                            </td>
                            <td style="text-align: right;">
                                {{worldLatest?.pOfDeaths | number:'1.0-2' :'sl-SL'}}%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                In progress
                            </td>
                            <td style="text-align: right;">
                                {{worldLatest?.pActive | number:'1.0-2' :'sl-SL'}}%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
            <h6 class="header">Closed cases worldwide</h6>
            <div class="row-w-100">
                <app-chart
                    [type] = "pieChartType"
                    [data] = "pieChartClosedCases" 
                    [columnNames] = "columnNamesPieChart"
                    [options] = "optionPieChart"
                >
                </app-chart>
            </div>
            <div class="row-w-100" style="margin-top: 5%;">
                <p>
                    There is 1 in {{worldLatest?.population / worldLatest?.confirmed | number: '1.0-2' :'sl-SL'}} people diagnosed with COVID-19 virus.
                </p>
                <p>
                    For every death due to COVID-19 virus there are {{worldLatest?.recovered / worldLatest?.deaths | number: '1.0-2' :'sl-SL' }} recovers.
                </p>
                <p>
                    For every death due to COVID-19 virus there are {{worldLatest?.confirmed / worldLatest?.deaths | number: '1.0-2' :'sl-SL'}} diagnoses.
                </p>
            </div>
        </div>
    </div>

</div>

<div *ngIf = "spinner">
    <app-spinner></app-spinner>
</div>
