<div *ngIf = "!spinner" class="col" style="height: 80%;">
    <div class="row" style="margin-bottom: 2%;">
    <div class = "col">
        <div class = "dropdown row-w-100 text-center" style="margin-left: 5%; margin-right: 5%;">
            <button type="button" class="btn btn-light text-left" style="width: 100% !important; border-radius: 24px; padding-left: 3%;" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search" style="padding-right: 2%;"></i>
                Search
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" autofocus id = "searchBox" #searchBox>
                </div>
                <div *ngIf = "searchText != ''">

                    <div *ngFor = "let country of casesByCountries | searchPipe: searchText; let i = index">
                        
                        <a class="dropdown-item" (click) = "clickAndOpen(country)" *ngIf = "i <=10">
                            {{country.countryName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row h-100" style="margin-left: 5%; margin-right: 5%;">
        <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="row-w-100">
                    <div class="alert alert-secondary" [routerLink] = "['/countries']">
                        <div class="row-w-100 noOfCases">
                            {{worldLatest?.confirmed}}
                        </div>
                        <div class="row-w-100 nameOfCases">
                            Confirmed cases worldwide
                        </div>
                    </div>
                </div>
                <div class="row-w-100">
                    <div class="alert alert-danger" [routerLink] = "['/countries']">
                        <div class="row-w-100 noOfCases">
                            {{worldLatest?.deaths}}
                        </div>
                        <div class="row-w-100 nameOfCases">
                            Number of deaths worldwide
                        </div>
                    </div>
                </div>
                <div class="row-w-100">
                    <div class="alert alert-success" [routerLink] = "['/countries']">
                        <div class="row-w-100 noOfCases">
                            {{worldLatest?.recovered}}
                        </div>
                        <div class="row-w-100 nameOfCases">
                            Number of recovers worldwide
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xl-9">
            <app-map [casesByCountries] = "casesByCountries" [casesByCountries] = "casesByCountries" ></app-map>
        </div>
    </div>

    <div *ngIf = "openChild">
        <app-country-modal [country] = "country" (closeValue) = "onModalClose($event)"></app-country-modal>
    </div>

</div>

<div *ngIf = "spinner">
    <app-spinner></app-spinner>
</div>
