.wallpaperMap {
    background-image: url("/assets/images/world.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.noOfCases {
    font-size: 300%;
}

.nameOfCases {
    text-align: right;
}

.progress-lg{
    height: 2em;
}

.number {
    text-align: right;
}

.margin {
    margin-right: 5%; 
    margin-left: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    margin-bottom: 6%;
}

@media (max-width: 775px) { 
    .margin {
        margin-left: 0%;
        margin-right: 5%;
    }
}
