.ime {
    font-size: large;
    font-weight: lighter;
    padding-left: 4%;
    padding-top: 6%;
}

.cena {
    padding-right: 4%;
    padding-bottom: 2%;
    text-align: right;
    font-size: xx-large;
    font-weight: lighter;
}

.gumb {
    color: var(--primary); 
    font-size: x-large; 
    margin: 4%;
}